@model HeThongQuanLyTiemChung.Models.Vaccine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminVaccines" asp-action="Index" class="breadcrumb-item">Danh sách vaccine</a>
            <span class="breadcrumb-item active">Xác nhận xóa vaccine</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Xác nhận xóa vaccine</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.VaccineId</td>
                </tr>
                <tr>
                    <td>Tên vaccine:</td>
                    <td>@Model.VaccineName</td>
                </tr>
                <tr>
                    <td>Mô tả:</td>
                    <td>@Model.Description</td>
                </tr>
                @*<tr>
                    <td>Loại bệnh:</td>
                    @if (Model.CatId != null)
                    {
                        <td class="d-flex align-items-center">

                            <div>@Model.Cat.CatName</div>
                        </td>
                    }
                    else
                    {
                        <td class="d-flex align-items-center">

                            <div>Không có</div>

                        </td>
                    }

                </tr>*@
                <tr>
                    <td>Nước sản xuất:</td>
                    @if (Model.BrandId != null)
                    {
                        <td class="d-flex align-items-center">

                            <div>@Model.Brand.BrandName</div>
                        </td>
                    }
                    else
                    {
                        <td class="d-flex align-items-center">
                            <div>Không có</div>


                        </td>
                    }
                </tr>
                <tr>
                    <td>Xác nhận xóa:</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@Model.VaccineId">
                            <input type="hidden" asp-for="VaccineId" />
                            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>