@model IEnumerable<HeThongQuanLyTiemChung.Models.AppointDate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Injection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Injection.InjectionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointDateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointDateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointDateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
