@model HeThongQuanLyTiemChung.Models.Account

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index" class="breadcrumb-item">Danh sách tài khoản</a>
            <span class="breadcrumb-item active">Xác nhận xóa tài khoản</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Xác nhận xóa tài khoản</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td>@Model.AccountId</td>
                </tr>
                <tr>
                    <td>Họ tên:</td>
                    <td>@Model.FullName</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Vai trò:</td>
                    <td>@Model.Role.RoleName</td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    @if (Model.Active == true)
                    {
                        <td class="d-flex align-items-center">
                            <div class="badge badge-success badge-dot m-r-10"></div>
                            <div>Active</div>
                        </td>
                    }
                    else
                    {
                        <td class="d-flex align-items-center">
                            <div class="badge badge-danger badge-dot m-r-10"></div>
                            <div>Blog</div>
                        </td>
                    }
                </tr>
                <tr>
                    <td>Ngày tạo:</td>
                    <td>@Model.CreateDate</td>
                </tr>
                <tr>
                    <td>Xác nhận xóa:</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@Model.AccountId">
                            <input type="hidden" asp-for="AccountId" />
                            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>