@model IEnumerable<HeThongQuanLyTiemChung.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách tài khoản</span>
        </nav>
    </div>
</div>

<div class="row m-b-30">
    <div class="col-lg-8">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Account" asp-action="DangkyTaiKhoan"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm mới</span></a>
    </div>
    <div class="col-lg-4 ">

    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                
                <th scope="col">Số điện thoại</th>
                <th scope="col">Vai trò</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.AccountId</th>
                        <td>@item.FullName</td>
                        
                        <td>@item.Phone</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        <td>
                            @if (item.Active == true)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Active</div>
                                </div> }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Blog</div>
                                </div>}
                        </td>
                        <td width="280px">
                            <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Details" asp-route-id="@item.AccountId">Chi tiết</a>
                            <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Edit" asp-route-id="@item.AccountId">Sửa</a>
                            <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Delete" asp-route-id="@item.AccountId">Xóa</a>

                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
